# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  #push:
  #  branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Select main jar
        run: |
          echo "Available jars in target/:"
          ls target || echo "No target directory"
          
          # pick first jar that is NOT original-, -sources, -javadoc, -tests
          MAIN_JAR=$(ls target/*.jar | grep -v 'original-' | grep -v 'sources' | grep -v 'javadoc' | grep -v 'tests' | head -n 1 || true)
          
          if [ -z "$MAIN_JAR" ]; then
            echo "No suitable main JAR found."
            exit 1
          fi
          
          echo "Selected main JAR: $MAIN_JAR"
          echo "MAIN_JAR=$MAIN_JAR" >> $GITHUB_ENV

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugin-jar
          path: ${{ env.MAIN_JAR }}
          if-no-files-found: error


  publish:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'release'

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: plugin-jar
          path: ./build

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: ./build/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}